$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

$boxbg: $base;
$boxborder: 5px solid $crust;

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: rgba(0, 0, 0, 0);
  color: #b0b4bc;
  font-size: large;
}

// Styles on classes (see eww.yuck for more information)

@mixin box {
  background: $boxbg;
  border: $boxborder;
  border-radius: 10px;
  padding: 0 10px;
}

.sidestuff {
  @include box;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: $rosewater;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $surface0;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: $rosewater;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspaces {
  // background: transparentize($mantle, 0.5);
  @include box;
  padding: 5px 10px;
}

.workspaces .workspace-entry {
  border-radius: 5px;
  padding: 0 3px;

  background: $crust;
  color: $crust;

  &.occupied {
    background: $overlay0;
    color: $overlay0;
  }

  &.current {
    background: $rosewater;
    color: $rosewater;
  }
}

.window-title {
  @include box;

  &.empty {
    all: unset;
  }
}

.tray {
  // center icons
  padding-left: 8px;
  padding-top: 4px;
}

menuitem {
  background: $boxbg;
  &:hover {
    background: $surface0;
  }
}
