* {
	min-height: 0;
	border: none;
	border-radius: 0;
	font-family: "Terminus";
	font-size: 15px;
}

window#waybar {
	background-color: #dcdad5;
	color: #000000;

	box-shadow:
		inset 0px 1px 0px white;
}

#custom-space {
	margin-left: 3px;
	margin-top: 4px;
	margin-bottom: 2px;
	
	border-left: 1px solid #9e9a91;
	box-shadow:
		inset 1px 0px 0px white;
}

#custom-start {
	font-weight: bold;
	background-image: url("tux.png");
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: 3px center;

	padding-left: 22px;
	padding-right: 2px;
	margin-left: 2px;
	margin-top: 4px;
	margin-bottom: 2px;

	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid white;
	border-left: 1px solid white;

	box-shadow:
		inset -1px -1px 0px #9e9a91;
}

#custom-start.active {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
    
	box-shadow:
		inset 1px 1px 0px #9e9a91,
		inset 0 0 0 transparent;
}

#workspaces button {
    min-width: 16px;
	padding: 0 3px;
	margin-top: 4px;
	margin-bottom: 2px;
	background-color: #dcdad5;
	color: #000000;

	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid white;
	border-left: 1px solid white;

	box-shadow:
		inset -1px -1px 0px #9e9a91;
}

#workspaces button.active {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
    
	box-shadow:
		inset 1px 1px 0px #9e9a91,
		inset 0 0 0 transparent;
}

#workspaces button.active {
    margin-left: -1px;
}

#clock {
	padding-right: 10px;
	padding-left: 10px;
}

#pulseaudio {
	padding-left: 8px;
}

#tray {
	padding-left: 2px;
}

#language {
    padding-left: 11px;
}

#right {
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 2px;
	border-left: 1px solid #9e9a91;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-top: 1px solid #9e9a91;
}

